UPSTASH_REDIS_REST_URL="https://main-stork-41347.upstash.io"
UPSTASH_REDIS_REST_TOKEN="AaGDAAIgcDE5YWE2MzQ2ZDc5YWQ0Mzk3OTFjYzBlNDFhNzBmYzVlZA"
DISCORD_CLIENT_ID="1514628396523720905"
DISCORD_CLIENT_SECRET="7jiu3qy_fIzvx0NFa44E-fuSHq0a7j8w"
